.DS_Store
__pycache__
*.egg-info
*.so
*.mo
*.waf*
.lock-waf*
.tox
/tags
*.eggs

build
dist
env*
/deps
cocoa/autogen

/run.py
/cocoa/*/Info.plist
/cocoa/*/build
/qt/*_rc.py
/help/*/conf.py
/help/*/changelog.rst
/transifex

*.pyd
*.exe
*.spec

.vscode
