.DS_Store
*.pyc
*.so
*.mo
*.pyd
*.waf*
.lock-waf*
.idea

build
dist
install
installer_tmp-cache
env
/deps
cocoa/autogen

/run.py
/conf.json
/cocoa/*/Info.plist
/cocoa/*/build
/qt/base/*_rc.py
/help/*/conf.py
/help/*/changelog.rst
