BODY
{
	background-color:white;
}

BODY,A,P,UL,TABLE,TR,TD
{
	font-family:Tahoma,Arial,sans-serif;
	font-size:10pt;
	color: #4477AA;
}

TABLE
{
	background-color: #225588;
	margin-left: auto;
  	margin-right: auto;
	width: 90%;
}

TR 
{
    background-color: white;
}

TH 
{ 
	font-weight: bold; 
	color: black;
	background-color: #C8D6E5;
}

TH TD 
{
    color:black;
}

TD 
{
    padding-left: 2pt;
}

TD.rightelem
{
	text-align:right;
	/*padding-left:0pt;*/
	padding-right: 2pt;
	width: 17%;
}

TD.indented
{
    padding-left: 12pt;
}

H1
{
	font-family:"Courier New",monospace;
	color:#6699CC;
    font-size:18pt; 
	color:#6da500;
	border-color: #70A0CF;
	border-width: 1pt;
	border-style: solid;
	margin-top:   16pt;
	margin-left:  5%;
	margin-right: 5%;
	padding-top:  2pt;
	padding-bottom:2pt;
	text-align:   center;
}