[Desktop Entry]
Encoding=UTF-8
Name=dupeGuru Picture Edition
Comment=Find duplicate pictures in your library.
Exec=dupeguru_pe
Icon=/usr/local/share/dupeguru_pe/dgpe_logo_128.png
Terminal=false
Type=Application
Categories=Utility
