Source: {pkgname}
Section: devel
Priority: extra
Maintainer: Virgil Dupras <hsoft@hardcoded.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1
Homepage: http://www.hardcoded.net

Package: {pkgname}
Architecture: all
Depends: python3 (>=3.2), python3-pyqt4
Description: {longname}
