Source: dupeguru-se
Section: devel
Priority: extra
Maintainer: Virgil Dupras <hsoft@hardcoded.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1
Homepage: http://www.hardcoded.net

Package: dupeguru-se
Architecture: any
Depends: python3.1, libqtgui4
Description: dupeGuru
