[Desktop Entry]
Encoding=UTF-8
Name=dupeGuru
Comment=Find duplicate files.
Exec=dupeguru_se
Icon=/usr/local/share/dupeguru_se/dgse_logo_128.png
Terminal=false
Type=Application
Categories=Utility
