<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>dupeguru_pe_help</string>
	<key>CFBundleHelpBookName</key>
	<string>dupeGuru PE Help</string>
	<key>CFBundleIconFile</key>
	<string>dupeguru</string>
	<key>CFBundleIdentifier</key>
	<string>com.hardcoded_software.dupeguru_pe</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>hsft</string>
	<key>CFBundleVersion</key>
	<string>1.11.0</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHumanReadableCopyright</key>
	<string>© Hardcoded Software, 2010</string>
	<key>SUFeedURL</key>
	<string>http://www.hardcoded.net/updates/dupeguru_pe.appcast</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
