---
layout: default
---

<div class="home">
<div class="container"><h1>{{ page.title | default: site.title }}</h1> 
    {%- if site.data.downloads -%}
    <p>Latest Downloads:</p>
    <div class="downloads">
        {%- for os in site.data.downloads.oses -%}
        {%- for package in os.packages -%}
        <a class="download" href="{{ package.link }}">
            <svg class="svg-icon" viewBox="0 0 26 28"><use xlink:href="{{ '/assets/icons.svg' | relative_url }}#{{ os.icon }}"></use></svg><span>{{ os.name }} ({{ package.arch }})</span>
        </a>
        {%- endfor -%}
        {%- endfor -%}
    </div>
    {%- endif -%}
</div>

{{ content }}
</div>
